<!DOCTYPE html>
<html lang="en">
<head>
  <%- include head %>
  <title>Article details</title>
</head>
<body>
  <%- include bar %>

  <div class="article-detail">
    <h2><%= currentArticle.title %></h2>
    <div style="display: flex;margin: 40px 0;">
      <div style="margin-right:20px">author: <%= currentArticle.username %></div>
      <div>release time: <%= currentArticle.time %></div>
    </div>
    <div class="flex"><%= currentArticle.content %></div>
  </div>
</body>
<style>
  .article-detail {
    width: 688px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }
</style>
</html>