<!DOCTYPE html>
<html>
  <head>
    <title>front page</title>
    <%- include head %>
  </head>
  <body>
    <%- include bar %>
    <div class="container">
      <table>
        <tr>
          <th>ID</th>
          <th>author</th>
          <th>release time</th>
          <th>title</th>
          <th>operate</th>
        </tr>
        <% data.list.map((item, index) => { %>
          <tr>
            <td><%= item._id %></td>
            <td><%= item.username %></td>
            <td><%= item.time %></td>
            <td><a href="/article-detail?id=<%= item.id %>&pageIndex=<%= data.pageIndex %>"><%= item.title %></a></td>
            <td><a style="margin-right:20px" href="/write?id=<%= item.id %>&pageIndex=<%= data.pageIndex %>">编辑</a><a href="/article/delete?id=<%= item.id %>&pageIndex=<%= data.pageIndex %>">删除</a></td>
          </tr>
        <% }) %>
      </table>
      <div class="pages">
        <% for(let i = 1; i <= data.pageTotal; i++) { %>
          <a href="/?pageIndex=<%= i %>"><%= i %></a>
        <% } %>
      </div>
    </div>
  </body>
  <style>
    .pages {
      display: flex;
      justify-content: flex-end;
    }
  </style>
</html>
